VITE_SUPABASE_URL=https://wxbidwtilvdexkdkvugq.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4Ymlkd3RpbHZkZXhrZGt2dWdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNjUzNTksImV4cCI6MjA5MjY0MTM1OX0.6cwMzptTRxcmVhXF9qRZdRWpymnKedfImUOvWi9Xbxs
